<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Facebook Authentication Demo</title>
</head>
<body>
    <h1>Welcome @Model.name </h1><p><img src='https://graph.facebook.com/@Model.username/picture'/>You have logged in using facebook</p>
    <form method="POST">
        Post something to your wall <input type="text" name="Message" />
        <input type="submit" value="Post Message" />
    </form>
</body>
</html>
